.DashBoard{
    display:flex;
    background-color:whitesmoke;
    flex:4;
    padding:20px;
    flex-direction:column;
}

.DashBoardTitle{
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FF9138;
    flex: none;
}